<!DOCTYPE html>
<html>
<head>
  <title>Link Grabber</title>
  <script src="http://connect.soundcloud.com/sdk.js"></script>
  <script>SC.initialize({ client_id: '2aa95480d1424deb99e8c3894a6f2bcd'});</script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="main" class="container">
    <div id="main-inner">
      <%= yield %>
    </div>
    <%= render partial: "shared/footer" %>
  </div>

</body>
</html>
